* {
    margin: 0;
    /* box-sizing: border-box; */
    margin-top: 20px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    /* text-align: center; */
    /* box-sizing: border-box; */
}

#title {
    font-size: 80px;
}

.color {
    border: 1px solid rgb(0,0,0);
    display: inline-block;
    height: 100px;
    width: 100px;    
}

.tabela table {
    text-align: center;
}